* {
  margin: 0;
  padding: 0;
}

html {
  background: #ffffdf;
}

.container {
  width: 100%;
  height: 100vh;
  background: #ffffdf;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 28px;
    line-height: 40px;
  }

  .btn {
    width: 70%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
}

.datiContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ffffdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 95%;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 24px;
    color: #333;
    margin-bottom: 40px;
  }

  .optContainer {
    width: 95%;
    display: flex;
    flex-direction: column;

    .optItems {
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      line-height: 80px;
      padding-left: 20px;
      background: #66b3ff;
      border-radius: 10px;
      margin-bottom: 10px;
      color: #333;
      font-size: 18px;

      &.correct {
        background: #93ff93;
      }

      &.error {
        background: #ff5151;
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ffffdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resultContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ffffdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: #333;
    font-size: 28px;
    line-height: 40px;

    span {
      padding: 0 5px;
      color: #222;
    }
  }

  .btn {
    width: 90%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 24px;
  }
}

.epidemicContainer {
  width: 100%;
  background: #ffffdf;
  margin: 0 auto;

  h1 {
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }

  #map {
    width: 350px;
    height: 220px;
    margin: 10px auto;
    border: 1px solid #ccc;
  }

  .searchBox {
    width: 80%;
    margin: 20px auto;

    input {
      width: 80%;
      height: 30px;
      line-height: 30px;
      background: transparent;
      border: 1px solid #666;
    }

    input::-webkit-input-placeholder {
      color: #666;
      font-size: 16px;
    }

    .searchResult {
      width: 100%;
      margin: 10px auto;
      box-sizing: border-box;
      color: #333;
      height: 55px;
      padding: 10px 50px;
      border: 1px dashed #666;
      white-space: pre-wrap;
    }
  }

  .detailContainer {
    width: 100%;

    h1 {
      width: 100%;
      text-align: center;
      font-size: 22px;
      line-height: 25px;
      color: #333;
    }

    .detailBox {
      width: 100%;
      margin: 0 auto;

      .detailMain {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;

        &:nth-of-type(odd) {
          background: #ffed97;
        }

        &:first-child {
          background: #ffe66f;
        }

        h2 {
          width: 25%;
          text-align: center;
          height: 40px;
          line-height: 40px;
          font-size: 18px;
          color: #666;
        }

        p {
          width: 25%;
          text-align: center;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
  }

  .back_btn {
    width: 90%;
    height: 50px;
    line-height: 50px;
    margin: 30px auto;
    color: #fff;
  }
}

.newsContainer {
  width: 100%;
  background: #ffffdf;
  overflow: hidden;

  .banner {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .back_btn {
    width: 90%;
    height: 50px;
    margin: 10px auto;
    line-height: 50px;
    background: #ffe66f;
  }

  .newsContent {
    width: 100%;
    display: flex;
    position: relative;

    .line {
      width: 1px;
      min-height: 1000px;
      background: #999;
      margin: 20px 30px 0 50px;
    }

    .newsList {
      flex: 1;
      margin: 0 10px 0 0;

      .newsItem {
        width: 100%;
        background: #fff0ac;
        padding: 10px;
        position: relative;
        margin: 20px auto;

        .time {
          color: #777;
          font-size: 14px;
          line-height: 20px;
        }

        .content {
          color: #333;
          font-size: 14px;
          line-height: 20px;
          box-sizing: border-box;
          padding: 0 20px 0 0;
          text-align: justify;
        }

        &::before {
          content: '';
          position: absolute;
          top: 26px;
          left: -31px;
          border: 16px solid transparent;
          border-right-color: #fff0ac;
        }

        &::after {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border: 4px solid red;
          border-radius: 9px;
          top: 35px;
          left: -40px;
        }
      }
    }
  }
}

.counterContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffdf;

  .control_btn {
    width: 80%;
    height: 50px;
    margin: 10px auto;
    background: #deffac;
  }
}

.tabContainer {
  width: 100%;
  background: #ffffdf;
  position: relative;

  .navBox {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
    position: relative;

    .navItem {
      width: 88px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 16px;

      &.active{
        color: #000;
        font-weight: bold;
      }
    }

    .barItem{
      position: absolute;
      width: 44px;
      height: 4px;
      background: orange;
      bottom: 0;
    }
  }

  .tabBox{
    width: 1500px;
    display: flex;
    overflow: hidden;
  }
}
